<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".RebonnteApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rebonnte"
        tools:targetApi="31">
        <!--
            Le receiver est enregistre dynamiquement dans MainActivity, le
            temps de vie de l'Activity. La declaration statique qui figurait ici
            faisait doublon et exposait au systeme une classe imbriquee dans une
            Activity.
        -->
        <!--
            Les ecrans de detail ne sont plus des Activity mais des destinations
            du NavHost : ils partagent le graphe et les ViewModel de
            MainActivity, sans passer par une reference statique vers elle.
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>